# dependencies
node_modules

# testing
coverage

# misc
.idea
.vscode
.serverless
.nyc_output
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# logging
yarn-error.log

# build
lib
build
